header{
    width: 50%;
    background-color: grey;
    background-size: cover;
    text-align: center;    
    margin: 0 auto;
}

.date{
    color: #535353;

}

p{
    max-width: 960px;
}

.entry{
    width: 50%;
    padding-left: 40px;
}

.code{
    white-space: pre-wrap;
    color: white;
    margin: 20px 0;
    padding: 20px;
    background-color: black;
}

ul{
    list-style: none;
}

body{
    padding: 10px;
    font-family: sans-serif;
    background-color: darkgrey;
}